@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-in {
    animation: fadeIn 0.7s ease-out;
  }
  
  .slide-in-from-bottom-4 {
    animation: slideInFromBottom 0.7s ease-out;
  }
  
  .slide-in-from-right-4 {
    animation: slideInFromRight 0.5s ease-out;
  }
  
  .slide-in-from-top {
    animation: slideInFromTop 0.2s ease-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
